<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- <package id="DD4T-Model" version="2.0.4-draft" targetFramework="net451" />-->
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <!--<package id="SDL-Tridion-2013-sp1" version="1.0.0" targetFramework="net40" />-->
</packages>